@import url("https://fonts.googleapis.com/css2?family=Allura&family=Barlow:wght@200;300;400;500;600;700;800&family=Gilda+Display&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@200;300;400;500;600;700;800&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&family=Quicksand:wght@700&display=swap");

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.hero-bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0) 60%,
      #151623 90%,
      #151623
    ),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnVyZ2VyfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-allura {
  font-family: "Allura", cursive;
}

.font-barlow {
  font-family: "Barlow", sans-serif;
}

.font-gilda {
  font-family: "Gilda Display", serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}

@keyframes show-toast {
  0% {
    bottom: -100%;
  }
  20% {
    bottom: 100px;
  }
  80% {
    bottom: 100px;
  }
  100% {
    bottom: -100%;
  }
}

.show-notification {
  position: fixed;
  bottom: 100%;
  right: 20px;
  animation-name: show-toast;
  animation-duration: 5s;
}

.vendor-detail {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0) 60%,
      #151623 90%,
      #151623
    ),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(32, 31, 31, 0.7)),
    url("https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnVyZ2VyfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
}